//@media(max-width: 767px) {
//  .fc-toolbar.fc-header-toolbar {
//    display: flex;
//    flex-direction: column;
//  }
//  .fc-toolbar.fc-header-toolbar .fc-left {
//    order: 3;
//  }
//  .fc-toolbar.fc-header-toolbar .fc-center {
//    order: 1;
//  }
//  .fc-toolbar.fc-header-toolbar .fc-right {
//    order: 2;
//  }
//}

.fc-timeGridDay-view {
  .fc-timegrid-col,
  .fc-daygrid-day {
    &.fc-day-today {
      background: transparent !important;
    }
  }
}

.fc .fc-timegrid-now-indicator-line {
  border-color: $c-accent !important;
  box-shadow: $shadow-card-shadow;
}

.fc-timegrid-event.isDone .fc-event-title {
  text-decoration: line-through;
}
