<mat-slide-toggle (ngModelChange)="toggleEnabled($event)"
                  [ngModel]="(globalConfigService.isBlockstackEnabled$|async)"
                  style="margin-bottom: 16px;">
  {{T.F.BLOCKSTACK.FORM.L_IS_ENABLED|translate}}
</mat-slide-toggle>

<div class="btns">
  <button *ngIf="!(blockstackService.isSignedIn$|async)"
          mat-stroked-button
          color="primary"
          (click)="signIn()">
    <mat-icon>exit_to_app</mat-icon>
    {{T.F.BLOCKSTACK.FORM.L_SIGN_IN|translate}}
  </button>

  <button *ngIf="(blockstackService.isSignedIn$|async)"
          mat-stroked-button
          color="primary"
          (click)="signOut()">
    <mat-icon>clear</mat-icon>
    {{T.F.BLOCKSTACK.FORM.L_SIGN_OUT|translate}}
  </button>

  <a mat-stroked-button
     color="primary"
     target="_blank"
     href="https://blockstack.org/">
    <mat-icon>open_in_new</mat-icon>
    {{T.F.BLOCKSTACK.FORM.L_LEARN_MORE|translate}}
  </a>

  <a *ngIf="(blockstackService.isSignedIn$|async)"
     mat-stroked-button
     color="primary"
     target="_blank"
     href="https://browser.blockstack.org/account">
    <mat-icon>open_in_new</mat-icon>
    {{T.F.BLOCKSTACK.FORM.L_ACCOUNT|translate}}
  </a>
</div>
