<mat-slide-toggle *ngIf="blockstackService.isSignedIn$|async"
                  (ngModelChange)="toggleEnabled($event)"
                  [ngModel]="(globalConfigService.isBlockstackEnabled$|async)"
                  style="margin-bottom: 16px;">
  {{T.F.GOOGLE.SYNC_CFG.ENABLE|translate}}
</mat-slide-toggle>

<div class="btns">
  <button *ngIf="!(blockstackService.isSignedIn$|async)"
          mat-stroked-button
          color="primary"
          (click)="signIn()">
    <mat-icon>exit_to_app</mat-icon>
    Sign In
  </button>

  <button *ngIf="(blockstackService.isSignedIn$|async)"
          mat-stroked-button
          color="primary"
          (click)="signOut()">
    <mat-icon>clear</mat-icon>
    Sign Out
  </button>

  <a mat-stroked-button
     color="primary"
     target="_blank"
     href="https://blockstack.org/">
    <mat-icon>open_in_new</mat-icon>
    Learn more
  </a>

  <a *ngIf="(blockstackService.isSignedIn$|async)"
     mat-stroked-button
     color="primary"
     target="_blank"
     href="https://browser.blockstack.org/account">
    <mat-icon>open_in_new</mat-icon>
    Account Settings
  </a>
</div>
